@{
    ViewBag.Title = "None Pending";
}

<h1>Pending Transactions</h1>

<div class ="well">

    <h3>Currently, there are no pending transactions.</h3>

    @Html.ActionLink("Return", "Options", "Home") to pick a new option.

</div>
