@model List<HR_Query.Models.EmployeeQueryModel>
@{
    ViewBag.Title = "Employee List";
}

<h1>Employee List.</h1>

<div class ="well">

    <h3>Select an employee from the list to view an employee's profile:</h3>
    
    <div class="container">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Employee Name
                    </th>
                   <th>
                        @ViewBag.Message
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.EmployeeLastName, "Index", "Profile", new { profile_id = item.EmployeeID }, null)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SearchedCriteria)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.ActionLink("Return", "Options", "Home") to pick a new option.
    </div>

</div>